*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: white;
}
/*header*/

header{
    height: 15vh;
    background-image: linear-gradient(150deg, #fc4a1e , #f58925 , #f8ff30);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.header{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}